
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>it's not where showpanorama is</title>
	<style>
	.body {padding:0px 0px; border:0px solid #FFFFFF; background-color:#FFFFFF;}
	.main {font-family: Arial; font-size:66%; letter-spacing: 0.1em; color:#FF3300; line-height:125%; margin-bottom:0.3em;}
	.sub {font-family: Arial; font-size:66%; letter-spacing: 0.1em; color:#333333; line-height:125%; margin-bottom:0.3em;}
	.sum {font-family: Arial; font-size:66%; letter-spacing: 0.1em; color:#999999; line-height:125%; margin-bottom:0.3em;}
	.headd {font-family: Verdana; font-size:64%; letter-spacing: 0.1em; line-height:125%; margin-bottom:0.6em; text-decoration:none;}
	.head {margin-bottom:0.5em;}
	.list {font-family: Arial; font-size:64%; letter-spacing: 0.1em; color:#999999; line-height:125%; margin-bottom:0.3em;}
	.ann {font-family: Verdana; font-size:64%; color:#333333; line-height:114%; margin-bottom:0.7em;}
.anno {font-family: Verdana; font-size:64%; color:#000000; line-height:114%; margin-bottom:0.1em;}
	a, a:hover, a:active, a:visited {color:#666666;}
	.tot {font-family: Verdana; border-left:6px solid #EFEFEF; padding-left: 12px; padding-right:28px; font-size:64%; color:#999999; line-height:114%; margin-bottom:0.7em;}
	.navs {width:250px; padding-right: 2px; font-family: Arial; font-size:124%; letter-spacing: 0; line-height:125%; margin-bottom:0.3em; color:#999999;}
	.doctitle {font-family: Arial; font-size:124%; letter-spacing: 0; color:#333333; margin:0px 0px;}
.bodytext {padding-left:18px; font:75% Arial; line-height:170%; margin-top:16px; margin-bottom:24px; padding-right:64px; text-align:left;}
.bodytext table td {font:75% Arial; line-height:170%; text-align:justify;}
.bodytext hr {margin-top:16px; margin-bottom:16px; height:1px; border:0px solid #CCCCCC; background-color:#CCCCCC; color:#CCCCCC;}
.lead {letter-spacing:0.2em; font-weight:bold;}
.credits {font-family: Verdana; font-size:64%; color:#999999; line-height:114%;}
	</style>
	<style>.list a:hover {color:}</style></head>

<body bgcolor=#ffffff leftmargin="30" topmargin="20" rightmargin="70" bottommargin="20" marginheight="20" marginwidth="70" text="#000000">


<div class="sub">THIS COULD HAVE BEEN</div>
<div class="main"><a href="/" style="text-decoration:none; color:#CC0000;">SHOWPANORAMA</a></div>


<div style="width:250px; border-right:6px solid #CC0000; color:#000000; font-family: Arial; font-size:404%;">404</div>
</div>
</div>
<br><br><br><br><br><br>




<div style="padding-left:244px; padding-right:244px;">


<div class="sum"><a href="/poetry/" style="text-decoration:none;">στιθοτχοςεξιρ</a></div>
<div class="sum"><a href="/prose/" style="text-decoration:none;">πςοϊα</a></div>
<div class="sum"><a href="/large/" style="text-decoration:none;">πςοιϊχεδεξιρ λςυπξοκ ζοςνω</a></div>
<div class="sum"><a href="/ourhaha/" style="text-decoration:none;">OUR HAPPY HARDCORE</a></div>
<div class="sum"><a href="/special/" style="text-decoration:none;">SPECIAL FEATURES</a></div>
<div class="sum"><a href="/contents/" style="text-decoration:none;">TABLE OF CONTENTS</a></div>
<div class="sum"><a href="/search/" style="text-decoration:none;">ποισλ</a>





</div>


<br><br><br><br>

</body>
</html>
